@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}

:root{
    --fonte_Padrao: Verdana;
    --fonte_Destaque: 'MV Boli';

    --cor1: #3778d9;
    --cor2: #408508;;
    --cor3: #d4a90c;
    --cor4: #cc1717;
}


/*--------------------------------- tags -----------------------------*/
header{
    height: 92px;
    background-image: url(Imagens_Senac_HTML_2/new\ _Banner.png);
    background-attachment: fixed;
    background-position: top center;
    text-align: center;
}

nav{
    position: absolute;
    
    width: 400px;
}

h1{
    padding-top: 10px;
    text-align: center;
    font-size: 50px;
    font-family: var(--fonte_Destaque);
    text-shadow: 2px 2px 1px rgba(255, 255, 255, 0.822);
}

h2{
    color: white;
    background-color: var(--cor2);
    margin-top: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 32px;
    max-width: 500px;
    border-radius: 5px;
    text-align: center;
}

h3{
    margin-top: 7px;
    text-indent: 12px;
    margin-bottom: 12px;
    color: white;
    font-size:22px;
}

body{
    font-family: var(--fonte_Padrao);
    background-image: url(Imagens_Senac_HTML_2/Background_Banner.png);
    background-attachment: fixed; 
   /* width: 1920px;
    height: 1080px;*/
}

section{

    margin-top: 10px;
    width: 593px;
    height: 221px;
    border-style:solid;
    border-width: 1px;
    border-radius: 5px;
    background-color: gray;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.432);
}

div{
    padding-left: 5px;
    padding-right: 5px;
    
}

div > p{
    margin: auto;
    text-align: left;
    padding-left: 15px;
    font-size: 16px;
}

p{
    display: block;
    margin-left: 10px;
    margin-bottom: 25px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: left;
    font-size: 16px;
    color: white;
}

main{
    max-width: 1500px;
    margin: auto;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.651);
}

a{
    color: blue;
    background-color: white;
    position: absolute;
    font-size: 22px;
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    border-radius: 5px;
    margin-top: 30px;
    margin-left: 1300px;
    text-shadow: 0px 0px 0px rgba(0, 0, 0, 0.651);
}


/*--------------------------------- tags -----------------------------*/




/*--------------------------------- Classes -----------------------------*/
.Carrossel{
    width: 411x;
    height: 200px;
    padding-top: 10px;
    margin-left: 36%;
}

.imagem{
    
    width: 278px;
    height: 200px;
    position: absolute;
    margin-top: 12px;
    margin-left: 2px;
}


/*.imagem_inversa{
    display: block;
    position: absolute;
    margin-left: 435px;
    margin-top: 15px;
}*/

/*.texto_inverso{
    position: absolute;
    display: block;
    margin-top: 15px;
    margin-left: 25px;
    width: 285px;
    height: 130px;
    border-style:solid;
    border-width: 1px;
    border-radius: 5px;
}*/

.texto{
    line-height: 1em;
    width: 285px;
    height: 180px;
    margin-left: 290px;
    margin-top: 2px;
    display: block;
    
    border-style:solid;
    border-width: 1px;
    border-radius: 5px;
}

.SecaoComentarios{
    height: 250px;
}

section.SecaoComentarios >h3{
    font-size: 25px;
    margin-top: 10px;
    margin-left: 20px;
    
}
.Comentarios{
    width: 1300px;
    height: 45px;
    align-content: normal;
    margin-left: 100px;
    margin-top: 20px;
    border-style:solid;
    border-width: 1px;
    border-radius: 5px;
    background-color: lightgray;
    display: block;
    text-shadow: 0px 0px 0px rgba(0, 0, 0, 0.651);
}

div.Comentarios > p{
    position: absolute;
    display: inline;
    margin-left: 80px;
    margin-bottom: 25px;
    padding-left: 10px;
    text-align: justify;
    color: black;
    max-width: 1000px;
    max-height: 20px;
}

div.Comentarios > img{
    position: absolute;
    width: 40px;
    height: 40px;
    margin-top: 10px;
    margin-left: 20px;
    display: inline;
}



/*--------------------------------- Classes -----------------------------*/






/*--------------------------------- ID -----------------------------*/
#Apresentacao{
    background-color: var(--cor1);
    width: 1200px;
    height: 100px;
    margin: auto;
    margin-top: 10px;
    
}


#T1{
    background-color: var(--cor3);
    display: block;
    position: absolute;
    margin-left: -10px;
}

#T2{
    background-color: var(--cor1);
    display: inline-block;
    position: absolute;
    margin-left: 585px;

}

#T3{
    background-color: var(--cor4);
    display: block;
    margin-left: 1175px;
    
}

#link_inverso{
    color: rgb(0, 0, 255);
    background-color: white;
    position: absolute;
    font-size: 22px;
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    border-radius: 5px;
    margin: auto;
    margin-top: 345px;
    margin-left: 35px;
}

/*--------------------------------- ID -----------------------------*/