@charset "UTF-8";


  @import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&family=Sriracha&display=swap');

  :root{
    --font01: Verdana, Geneva, Tahoma, sans-serif;
    --font02: 'Passion One', cursive;
    --font03: 'Sriracha', cursive;
  }

*{
    padding: 0;
    margin: 0;
    font-size: 1em;
}

html, body{
    min-height: 100vh;
    background-color: darkgray;
}

header{
    height: 220px;
    background-color: black;
    text-align: center;
    border-radius: 5px;
    margin: auto;
}

header > h1{
    color: white;
    font-size: 5em;
    padding-top: 55px;
    font-family: var(--font02);
    font-variant: small-caps;
}

header p{
    color: white;
    padding-bottom: 40px;
    font-size: 20px;
    font-family: var(--font02);
}

 header a, footer a{
    color: white;
    text-decoration: none;
    font-weight: bolder;
    cursor: pointer;
    
}

header a:hover, footer a:hover{
    text-decoration: underline;
    color: white;
}


section{
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
}

section.normal{
    padding-top: 75px;
    font-family: var(--font03);
    font-size: 3.5vh; 
    background-color: white;
    color: black;
 }

section.imagem{
    background-color: rgb(51, 51, 51);
    color: white;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    display: block;
    font-size: 3.5vh;
    box-shadow: inset 5px 5px 10px rgba(0, 0, 0, 0.445);

}

section.imagem > p{
    background-color: rgba(0, 0, 0, 0.322);
    padding-left: 10px;
    width: 450px;
    display: inline-block;
    font-family: var(--font03);
    

}

section#img01{
    background-image: url(imagens/Girassol-3.webp);
    background-position: bottom bottom;
}

section#img02{
    background-image: url(imagens/R.jpg);
    background-position: center center;
}


footer{
    background-color: black;
    border-radius: 5px;
    padding: 15px;
}

footer p{
    color: white;
    text-align: center;
    font-family: var(--font02);
}

