<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" 
           integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <title>Document</title>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">

            <div class="container-fluid">

                <a class="navbar-brand" href="#">App RH</a>

                <div id="headerButton">
                    <button class="openbtn" onclick="openNav()">&#9776; Open Sidebar</button>
                </div>

                <div id="mySidebar" class="sidebar">
                    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
                    <a href="#">About</a>
                    <a href="#">Services</a>
                    <a href="#">Clients</a>
                    <a href="#">Contact</a>
                </div>

            </div>
        </nav>
    </header>

    <main>
        <div class="container-fluid w-75" id="divContainer">
            
            <br>
            <h1>Bem Vindo</h1>
            <br>

            <button type="button" class="collapsible mx-auto">Cadastrar-se</button>
            <div class="divForm w-75 mx-auto" id="divForm">

                <form class="" th:action="@{/cadastrarUser}" th:object="${user}" method="post">
                    
                    <div class="form-group">
                        <label><b>Nome: </b></label>
                        <input type="text" class="form-control" th:field="*{nome}" placeholder="Nome">
                        <small class="form-text text-muted">*Digite o seu Nome</small>
                    </div>

                    <div class="form-group">
                        <label><b>Email: </b></label>
                        <input type="text" class="form-control" th:field="*{email}" placeholder="email">
                        <small class="form-text text-muted">*Digite o seu Email</small>
                    </div>
                    

                    <div class="row">

                        <div class="col">
                            <div class="form-group">
                                <label><b>RG: </b></label>
                                <input type="text" class="form-control w-75" th:field="*{rg}" placeholder="cpf">
                                <small class="form-text text-muted">*Digite o seu CPF</small>
                            </div>
                        </div>
                        
                        <div class="col">
                            <div class="form-group">
                                <label><b>CPF: </b></label>
                                <input type="text" class="form-control w-75" th:field="*{cpf}" placeholder="rg">
                                <small class="form-text text-muted">*Digite o seu RG</small>
                            </div>
                        </div>
                        
                    </div>
                    
                    <input type="button" name="" id="" value="cadastrar">
                </form>
            </div>

            <br>
            
            <button type="button" class="collapsible mx-auto">Lista de Usuarios Cadastrados</button>
            <div class="divForm w-75 mx-auto" id="divForm">
                <table class="table table-hover table-responsive-md w-auto table-striped">
                    <thead>
                        <tr>
                            <th class="col">Id</th>
                            <th class="col">Nome</th>
                            <th class="col">Email</th>
                            <th class="col">Rg</th>
                            <th class="col">CPF</th>
                            <th class="col"></th>
                            <th class="col">Ações</th>
                            <th class="col"></th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    </tbody>

                </table>
            </div>

        </div>
    </main>
    
    <script src="javascript.js"></script>
</body>
</html>